.button-txt {
    color: white;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
    margin: 12px;
    font-size: 40px;

}

.search-results{
    width: 75%;
    align-self: center;
}

.button{
    background-color: gray;
    border-radius: 5;

}

.button-container{
    flex: 1;
}
.result-container{
    flex: 2;
    display: flex;
  } 

  .result-button-container{
    display: flex;
    flex: 1;
    flex-direction: column;
  }