.App {
  text-align: center;
}




.def-container {
  flex: 1;
  display: flex;
  text-decoration: underline;
  align-items:flex-end;
}


.result-container{
  flex: 1;
  
  flex-direction: column;
  justify-content: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
